.trending-page{
    width:100%;
    height:calc(100vh - 75px);
    margin-top:75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .trending-page-title{
        color: whitesmoke;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
}