.post-card{
    width:87%;
    min-height: 380px;
    height: 90%;
    border-radius: 15px;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.4);
    padding:0 1rem;
    h1{
        color:whitesmoke;
    }
    h3{
        color: whitesmoke;
    }
}
@media only screen and (min-width:660px){
    .post-card{
        width: 90%;
    }
}