.my-btn{
    max-width: 10rem;
    height: 2rem;
    margin:0 2rem;

    display: flex;
     justify-content: center;
     align-items: center;
    color:#fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background: black;

    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}